*{
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/*GENERALES*/
body{
    background-color: #03222e; 
} 

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px;
    background-color:rgb(49, 49, 49)
}   

.titulo{
    color: rgb(221, 197, 61);
    font-family: Fondamento;
}

.logo{
    /* background-repeat: no-repeat; */
    /* background-position: left top; */
    /* max-width: 25%;
    margin-top: -35px; */
    /* margin-right: 600px; */
    
    max-width: 100%;
    height: 150px;
    margin-top: -40px;
}

.barraNavFlex{
    margin-top: 15px;
    display: flex;
    margin-left: -500px;
    /* flex-direction: row; */
    justify-content: flex-end; 
}

@media (max-width: 1050px) {
    .barraNavFlex{
        margin-top: 0px;
    }
}

.barraNav{
    display: inline-block;
    font-size: 35px;
}

@media (max-width: 1050px) {
    .barraNav{
        font-size: 12px;
        display: block;
        margin-bottom: 2px;
    }
}

.barraNav li a{
    text-decoration: none;
    color: #f2cf63;
    padding-right: 10px;
}

.barraNav li:hover{
    background-color: #731b07;
}

.imagenFondo{
    /* max-width: 100%; */
    width: auto;
    /* height: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fraseHeader{
    color: rgb(221, 201, 90);
    font-family: Fondamento;
    font-style: italic;
    text-align: right;
    font-size: 400%;
    background-position: top;
    position: relative !important;
    /* right: 450px !important; */
    bottom: 350px !important;
    margin-bottom: -40px !important; 
    justify-items: center;
    align-items: center;
    /* position: static; */
    text-align: center;
}

.footer{
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: static;
    width: 100%;
    bottom: 0;
}

.footerLogo{
    /* width: 10%; */
    max-width: 100%;
    height: 196px;
    /* margin-right: 200px; */
}

@media (max-width: 576px){
    .footerLogo{
        max-width: 100%;
        height: 150px;
        margin-top: 20px;
    }
}

.footerRedes{
    margin-top: 30px;
    list-style-type: none;
    /* text-align: right; */
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: repeat(4, 30px);
    column-gap: 5px;
    row-gap: 10px;
    color: #f2cf63;
    align-items: center;
}

@media (max-width: 576px){
    .linksFooter{
        font-size: 12px;
    }
}

.logosFooter{
    background-color:  #f2cf63;
    margin-top: -18px;
}

@media (max-width: 576px){
    .logosFooter{
        width: 20px;
        height: 20px;
    
    }
}

.bodyNovedades{
    background-color: #f2cf63;
}



/*index*/

/* .bienvenida{
    /* display: flex;
    flex-flow: row wrap; 
    justify-content: space-between; 
} */

.tituloBienvenida{
    color: #f2cf63;
    text-align: center;
    font-size: 400%;
}

.textoBienvenida{
    text-align: center;
    /* width: 400px; */
    font-size: 200%;
    /* position: relative; */
    color: white;
    /* margin-left: 60px;*/
    margin-bottom: 60px;
}

/* .imagenBienvenida{
    /* position: relative; */
    /* left: 250px; 
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
} */

.seccionNovedades{
    background-color: #731b07;
    border-style: none;
}

.novedadesTitulo{
    color: rgb(221, 201, 90);
    padding-left: 60px;
    margin-bottom: 15px;
    font-size: 40px;
}

@media (max-width: 768px){
    .novedadesTitulo{
        padding-left: 0px;
        text-align: center;
    }
}

.textoNovedades{
    color: white;
    padding-left: 60px;
    font-size: 30px;
}

@media (max-width: 768px){
    .textoNovedades{
        padding-left: 0px;
        text-align: center;
    }
}

.logoDiario{
    transform: translate(0px, 5px);
    animation-name: logo;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 0.65s;
    animation-delay: 0s;
}

@keyframes logo{
    0%{ 
        transform: translate(0px, 0px);
    }
    25%{
        transform: translate(0px, -2px);
    }
    50%{
        transform: translate(0px, -2px);
    }
    75%{
        transform: translate(0px, 2px);
    }
    100%{
        transform: translate(0px, 2px);
    }
}

#gridNovedades{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 520px 400px;
    grid-template-areas: 
        "nota1 nota1 nota1"
        "nota2 nota3 nota4";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

@media (max-width: 992px){
    #gridNovedades{
        grid-template-rows: 520px 250px;
    }
}

@media (max-width: 576px){
    #gridNovedades{
        grid-template-rows: 350px 200px;
    }
}

#gridNovedades .destacadoGrid{
    grid-area: nota1;
}

#gridNovedades .nota2Grid{
    grid-area: nota2;
}

#gridNovedades .nota3Grid{
    grid-area: nota3;
}

#gridNovedades .nota4Grid{
    grid-area: nota4;
}

.novedades{
    border: inset 1px black ;
    margin: 1px 0px 2px 0px;
}

.destacadoGrid{
    max-width: 100%;
    height: auto;
    background-image: url(../Images/Back-4-Blood-Reveals-Concept-Art.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-size: auto; */
    /* background-size: 2080px 520px; */ 
}

.nota2Grid{
    background-image: url(../Images/1590401763_493728_1590401834_noticia_normal_recorte1.jpg);
    background-repeat: no-repeat;
    /* background-size: 680px 400px; */
    background-size: 100% 100%;
}



.nota3Grid{
    background-image: url(../Images/840_560.jpg);
    background-repeat: no-repeat;
    /* background-size: 680px 400px; */
    background-size: 100% 100%;
}


.nota4Grid{
    background-image: url(../Images/15537190644260.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: cover; */
}



section article h3{
    font-weight: bold;
    color: #ffffff;
    padding-left: 20px;
}

@media (max-width: 992px){
    .tituloNovedadesIndex{
        font-size: 16px;
    }
}

@media (max-width: 576px){
    .tituloNovedadesIndex{
        font-size: 12px;
    }
}

.novedadesNota{
    color: rgb(255, 255, 255);
    padding-left: 20px;
}

@media (max-width: 992px){
    .novedadesNota{
        font-size: 13px;
    }
}

@media (max-width: 576px){
    .novedadesNota{
        font-size: 9px;
    }
}

.asideGeneral{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/* .asideTexto{
    background-color: white;
} */

/* .asideSpotify{
    background-color: white;
} */

.textoSemanal{
    color: #731b07;
}

.spotify{
    color: #731b07;
    text-align: center;
}

.newsletter{
    margin: 5px 0px 10px 0px;
    /* height: 100px; */
    background-color: white;
}

.tituloNewsletter{
    text-align: center;
    text-decoration: underline;
}

.textoNewsletter{
    font-size: 30px;
}

.botonNewsletter{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    
}

.paddingNewsletter{
    padding-left: 20px;
}





/*novedades*/

.seccionNovedadesPag{
    background-color: #731b07;
}

.articuloBorde{
    border: solid;
    height: 630px;
}

.back4blood{
    background-image: url(../Images/Back-4-Blood-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.yoru{
    background-image: url(../Images/yoru2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.lastofUs{
    background-image: url(../Images/lastofusgameawards.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.csGO{
    background-image: url(../Images/DreamHack-vuelve-Espana-partida-doble_1198690133_121697_1440x600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloNovedades{
    text-align: center;
    /* font-family: Fondamento; */
    color: #f2cf63;
}

.destacadoSemanal{
    color: #f2cf63;
    text-decoration: underline;

}

.textoNoticia{
    color: whitesmoke;
    font-size: 30px;
    background-color: rgba(94, 58, 58, 0.788);
}

.tituloNoticias{
    background-color: rgba(0, 0, 0, 0.5);
}





/*comunidad*/



.tituloComunidad{
    text-align: center;
    margin-bottom: 50px;
}

.tituloValorant{
    text-align: center;
    margin-bottom: 20px;
}

/* .tablaValorant{ TABLA VIEJA SIN BOOTSTRAP
    margin:auto;
    margin-bottom: 40px;
    font-size: 20px;
} */

.tablaValorant{
    height: 500px;
    background-image: url(../Images/fondo_valorant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloCS-GO{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.tablaCS-GO{
    height: 500px;
    background-image: url(../Images/81807-csgo-article_m-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloLOL{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #f2cf63;
}

.tablaLOL{
    height: 500px;
    background-image: url(../Images/trucos-en-league-of-legends.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

/*conocenos*/

.seccionConocenos{
    background-color: #731b07;
}

.tituloConocenos{
    color: #f2cf63;
    text-align: center;
    font-size: 500%;
    margin-bottom: 100px;
}

.textoConocenos{
    color: white;
    font-size: 40px;
    text-align: center;
}

.fotoConocenos{
    margin-top: 10px;
    padding-bottom: 20px;
}




/*registrate*/

.mainRegistrate{
    background-color: #731b07;
}

.formulario{
    font-weight: lighter;
    font-size: 16px;
    background-color: white;
    margin-bottom: 200px;
}

.textoFormulario{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #f2cf63;
    text-align: center;
    text-decoration: underline;
}