.mainComunidad {
  background-color: #731b07; }

.tituloComunidad {
  color: #ddc95a; }

.textoComunidad {
  color: black;
  font-size: 30px;
  text-align: right;
  text-decoration: underline; }

.tituloValorant {
  color: #ddc95a; }

.tituloCS-GO {
  color: #ddc95a; }

.tablaValorant {
  background-color: white; }

.tablaCS-GO {
  background-color: white; }

.listaComunidad {
  color: #ddc95a;
  font-size: 30px; }
  .listaComunidad .juegoLista {
    color: white;
    font-size: 20px; }

.novedadesNota {
  font-weight: bold; }

/*.asideTexto{
    background-color: white;
} */
.textoAutor {
  font-style: italic;
  height: 350px; }

/*.asideSpotify{
    background-color: white;
} */
.textoSpotify {
  font-style: italic;
  height: 350px; }

.logoSpotify {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: right; }

/*.textoSemanal{
    text-decoration: underline;
}

.spotify{
    text-decoration: underline;
}*/
aside aside {
  background-color: white; }
  aside aside h2 {
    text-decoration: underline; }

.asideTexto {
  background-image: url(../Images/unique-viking-warrior-reading-book-vector-logo-template-unique-library-concept-viking-warrior-cartoon-reading-book-vector-130894126.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.asideSpotify {
  background-image: url(../Images/mauricio-morali-bragi-god-of-music-and-poetry-lores.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.publicitarTexto {
  text-align: bottom; }

.publicitarMusica {
  text-align: bottom;
  font-weight: bold;
  color: white; }

.seccionFanArt {
  margin-top: 15px;
  background-color: #731b07; }
  .seccionFanArt h2 {
    color: #f2cf63;
    text-align: center; }
  .seccionFanArt div {
    padding-left: 3px;
    padding-right: 3px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "fanArt1" "fanFoto1"; }

.fanArts {
  justify-items: auto;
  padding-bottom: 10px;
  text-align: center;
  justify-content: center; }

.fanArt1 {
  grid-area: fanArt1;
  color: white;
  font-size: 25px; }

.fanFoto1 {
  justify-content: center;
  grid-area: fanFoto1;
  height: 1000px;
  max-width: 100%;
  border: inset 1px black;
  background-image: url(../Images/female_viking_warrior_1_by_raphtor_d8q4i9j-fullview.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
