$fuenteTablas: rgb(221, 201, 90);
$tamanioFuente: 30px;

.mainComunidad{
    background-color: #731b07;
}

.tituloComunidad{
    color: $fuenteTablas;
}

.textoComunidad{
    color: black;
    font-size: $tamanioFuente;
    text-align: right;
    text-decoration: underline;
}

.tituloValorant {
     color: $fuenteTablas;
}

.tituloCS-GO{
    color: $fuenteTablas;
}

.tablaValorant{
    background-color: white;
}

.tablaCS-GO{
    background-color: white;
}

.listaComunidad{
    color: $fuenteTablas;
    font-size: $tamanioFuente;
        .juegoLista{
            color: white;
            font-size: $tamanioFuente - 10;
        }
}