@import "comunidadScss";
$tamanioLogos: 40px;

// fuenteNovedades{
//     font-weight: bold;
// }

.novedadesNota{
    font-weight: bold;
}

/*.asideTexto{
    background-color: white;
} */

.textoAutor{
    font-style: italic;
    height: 350px;
}

/*.asideSpotify{
    background-color: white;
} */

.textoSpotify{
    font-style: italic;
}

.logoSpotify{
    height: $tamanioLogos / 2;
    width: $tamanioLogos / 2;
    background-repeat: no-repeat;
    background-position: right;
}

/*.textoSemanal{
    text-decoration: underline;
}

.spotify{
    text-decoration: underline;
}*/

aside{
    aside{
    background-color: white;
        h2{
            text-decoration: underline;
        }
    }
}

.asideTexto{
    background-image: url(../Images/unique-viking-warrior-reading-book-vector-logo-template-unique-library-concept-viking-warrior-cartoon-reading-book-vector-130894126.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.asideSpotify{
    background-image: url(../Images/mauricio-morali-bragi-god-of-music-and-poetry-lores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.publicitarTexto{
    text-align: bottom;
}

$fuenteGeneral: rgb(211, 201, 90);

